div {
    border: 0.1em solid pink;
}

.container {
    display: flex;
}

.firstColumn {
    border: 0.1em solid pink;
    width: 100px;
    height: 100px;
}

.secondColumn {
    border: 0.1em solid pink;
    width: 100px;
    height: 100px;
}

.thirdColumn {
    border: 0.1em solid pink;
    width: 100px;
    height: 100px; 
}